<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro</title>

    <!-- LINKS CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/styleCadVisitante.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <!-- LINKS PARA O GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- GOTHIC-A1 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <!-- SORA -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sora:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- LINKS JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script src="js/script_cadastro.js"></script>
    <script src="js/mask.js"></script>
    <script src="js/post.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('#finish-j').click(function () {
                $('.pop-up').css('display', 'flex');
                $('#modal').show();
            })
        })
    </script> -->

</head>

<body>
    <div id="container">
        <div id="modal"></div>

        <%- include('../partial/normalHeader.ejs') %>
    
        <%
        var err_email = {"erro":"","visu":"hide","msg":""}  
        var err_nome = {"erro":"","visu":"hide","msg":""}
        var err_phone = {"erro":"","visu":"hide","msg":""}

        var err_email_prop = {"erro":"","visu":"hide","msg":""} 
        var err_nome_prop = {"erro":"","visu":"hide","msg":""} 
        var err_phone_prop = {"erro":"","visu":"hide","msg":""} 
        var err_cpf_prop = {"erro":"","visu":"hide","msg":""} 
        var err_confirm_pass_prop = {"erro":"","visu":"hide","msg":""} 

    if(erros) { 
         
         erros.errors.forEach(function(erro){
             if (erro.param  == "nome_visitante"){ err_nome = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "email_visitante"){ err_email = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "celular_visitante"){ err_phone = {"erro":"erro","visu":"show","msg":erro.msg}} 

             if (erro.param  == "email_prop"){ err_email_prop = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "nome_proprietario"){ err_nome_prop = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "telefone_proprietario"){ err_phone_prop = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "cpf"){ err_cpf_prop = {"erro":"erro","visu":"show","msg":erro.msg}}  
             if (erro.param  == "confirm_pass_prop"){ err_confirm_pass_prop = {"erro":"erro","visu":"show","msg":erro.msg}}  

         }); 
     }; %>

        <section class="saiba-mais">
            <div id="modal_saiba-mais"></div>
            <div id="container_saiba-mais">
              <img src="img/Logo Oficinas Web 1 1.svg" alt="">
              <h1>Busca um Mecânico?</h1>
              <p>
                Na plataforma voce encontra o mecanico mais proximo da sua residencia com a melhor qualidade e com os melhores
                preços do mercado.
              </p>
              <br>
              <p>
                Alem disso você encontra produtos e serviços de acordo com a sua necessidade com aquele preçinho camarada que a
                gente gosta.
              </p>
              <div>
                <a href="./todas_oficinas.html"><button id="ver-oficinas">Ver Oficinas</button></a>
                <a href="./todos_produtos.html"><button id="ver-produtos">Ver Produtos</button></a>
              </div>
              <div id="menu-inf">
                <ul>
                  <li class="shadow_btn"><a href="./index.html">Home</a></li>
                  <li class="shadow_btn"><a href="./planos.html">Planos</a></li>
                  <li class="shadow_btn"><a href="./todas_oficinas.html">Oficinas</a></li>
                  <li class="shadow_btn"><a href="./todos_produtos.html">Produtos</a></li>
                </ul>
              </div>
            </div>
          </section>

        <main>
            <% if(erroProp == true) { %>
                <section class="cad_visitante" style="display: none;">
            <% } else { %>
                <section class="cad_visitante">
            <% } %>
                <div id="line_orange"></div>
                <div class="titulo_arrow">
                    <img src="img/arrow_left.svg" alt="logo">
                    <h1 class="titulo">Criar sua conta</h1>
                </div>

                <div id="tipo_conta">
                    <% if(erroProp == false) { %>
                        <h3 class="fisica line-orange">Pessoa fisica</h3>
                        <h3 class="juridica line-grey">Pessoa juridica</h3>
                    <% } else { %>
                        <h3 class="fisica line-grey">Pessoa fisica</h3>
                        <h3 class="juridica line-orange">Pessoa juridica</h3>
                    <% } %>
                </div>

                <div>
                    <form action="cad_visitante" method="post" enctype="multipart/form-data" id="form-visitante">

                        <div class="foto">
                            <div id="inputs_foto">
                                <div class="circle_foto">
                                    <img src="img/foto-padrao.svg" alt="" id="foto_padrao_perfil-f">
                                </div>
                                <!-- <div id="foto"></div> -->
                                <label for="add-img-f" id="addinput"><img src="img/add-foto.svg" alt="logo"></label>
                                <input type="file" name="add-img-v" id="add-img-f">
                            </div>
                        </div>

                        <input id="nome2" class="inputs <%= err_nome.erro %>" placeholder="Nome" name="nome_visitante" type="text" value="<%= valores.nome_visitante %>">
                        <span class="<%= err_nome.visu %>"><%= err_nome.msg %></span>
                        <!-- <input id="cpf" class="inputs" placeholder="CPF" type="text"> -->
                        <!-- <div> -->
                            <input id="celular2" name="celular_visitante" class="inputs phone-mask <%= err_phone.erro %>" placeholder="Celular" type="text" value="<%= valores.celular_visitante %>">
                            <span class="<%= err_phone.visu %>"><%= err_phone.msg %></span>
                            <input id="email2" name="email_visitante" class="inputs <%= err_email.erro %>" placeholder="Email" type="text" value="<%= valores.email_visitante %>">
                            <span class="<%= err_email.visu %>"><%= err_email.msg %></span>
                        <!-- </div> -->
                        <!-- <div> -->
                            <input id="senha2" name="senha_visitante" class="inputs" placeholder="Senha" type="password">
                            <input id="repitir_senha2" class="inputs" placeholder="Repitir senha" type="password">
                        <!-- </div> -->
                    <div id="termos" class="cadastro">
                        <p>Clicando em continuar abaixo, você concorda com os <a href="">Termos e Serviço e Política de
                                Privacidade
                            </a></p>
                    </div>
                    <button class="btn default_btn" type="submit"> <span>Continuar</span> </button>
                </form>
    
                    <div class="cadastro">
                        <span> Já possui uma conta? <a href="login"> Entre </a></span>
                    </div>
                </div>
            </section>
    
            <% if(erroProp == true) { %>
                <section class="cad_proprietario" style="display: block;">
            <% } else { %>
                <section class="cad_proprietario" style="display: none;">
            <% } %>
                <div id="line_orange"></div>
                <div class="titulo_arrow">
                    <img src="img/arrow_left.svg" alt="logo">
                    <h1 class="titulo">Criar sua conta</h1>
                </div>
    
                <div id="tipo_conta">
                    <% if(erroProp == false) { %>
                        <h3 class="fisica line-orange">Pessoa fisica</h3>
                        <h3 class="juridica line-grey">Pessoa juridica</h3>
                    <% } else { %>
                        <h3 class="fisica line-grey">Pessoa fisica</h3>
                        <h3 class="juridica line-orange">Pessoa juridica</h3>
                    <% } %>
                </div>
    
                <div>
                    <form action="/cad_juridica" runat="server" method="post" enctype="multipart/form-data" class="form_pessoa-juridica" id="form-juridico">
                        <div class="foto">
                            <div id="inputs_foto">
                                <img src="img/foto-padrao.svg" alt="" id="foto_padrao_perfil-j">
                                <!-- <div id="foto"></div> -->
                                <label for="add-img-j" id="addinput"><img src="img/add-foto.svg" alt="logo"></label>
                                <input type="file" name="add-img-j" id="add-img-j">
                            </div>
                        </div>
                        <!-- <div> -->
                            <input id="nome_proprietario" name="nome_proprietario" class="inputs nome-juridica <%= err_nome_prop.erro %>" placeholder="Nome" type="text" value="<%= valores.nome_proprietario %>">
                            <span class="<%= err_nome_prop.visu %>"><%= err_nome_prop.msg %></span>
                            <input id="cpf" name="cpf" class="inputs cpf-juridica <%= err_cpf_prop.erro %>" placeholder="CPF" type="text" value="<%= valores.cpf %>">
                            <span class="<%= err_cpf_prop.visu %>"><%= err_cpf_prop.msg %></span>
                            <!-- </div> -->
                        <!-- <div> -->
                            <input id="celular" name="telefone_proprietario" class="inputs phone-juridica phone-mask <%= err_phone_prop.erro %>" placeholder="Celular" type="text" value="<%= valores.telefone_proprietario %>">
                            <span class="<%= err_phone_prop.visu %>"><%= err_phone_prop.msg %></span>
                            <input id="email" name="email_prop" class="inputs email-juridica <%= err_email_prop.erro %>" placeholder="Email" type="text" value="<%= valores.email_prop %>">
                            <span class="<%= err_email_prop.visu %>"><%= err_email_prop.msg %></span>
                        <!-- </div> -->
                        <!-- <div> -->
                            <input id="senha" name="senha_prop" class="inputs" placeholder="Senha" type="password" value="<%= valores.senha_prop %>">
                            <input id="repitir_senha" name="confirm_pass_prop" class="inputs <%= err_confirm_pass_prop.erro %>" placeholder="Repitir senha" type="password">
                            <span class="<%= err_confirm_pass_prop.visu %>"><%= err_confirm_pass_prop.msg %></span>
                        <!-- </div> -->
                    <div id="termos" class="cadastro">
                        <p>Clicando em continuar abaixo, você concorda com os <a href="">Termos e Serviço e Política de
                                Privacidade
                            </a></p>
                    </div>
                    <button class="btn default_btn" type="submit" id="finish-j"> <span>Continuar</span> </button>
                </form>
    
                    <div class="cadastro">
                        <span> Já possui uma conta? <a href="login"> Entre </a></span>
                    </div>
                </div>

                <!-- <div class="pop-up">
                    <img src="img/img_pop-up.svg" alt="">
                    <h3>Concluido!</h3>

                    <p>Deseja criar o perfil da sua oficina?</p>

                    <button class="primeira-opcao-btn"><a href="/add-oficina">Criar Oficina</a></button>
                    <button class="segunda-opcao-btn"><a href="/">Depois</a></button>
                </div> -->
            </section>
        </main>
    </div>


</body>

</html>