<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <!-- LINKS CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- LINKS PARA O GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- GOTHIC-A1 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <!-- SORA -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sora:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- LINKS JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/script_menu.js"></script>

    <script>
        $(document).ready(function(){
            $('.segunda-opcao-btn').click(function(){
                $('.pop-up').hide();
                $('#modal-cad').hide();
            })
        })
    </script>
</head>

<body>
    <% if(servicoCad == true || produtoCad == true) {%>
        <div id="modal-cad"></div>
    <% } %>
    <div id="container">
        <%- include('../partial/header.ejs') %>


        <main>
            <section class="dashboard">

                <div id="head_dashboard">
                    <div class="column1">
                        <div class="line1">
                            <h1><%= oficina[0].nome_oficina %></h1>
                            <div class="nota">
                                <span><%= String(oficina[0].avg_media_geral).replace('.', ',') %></span>
                                <img src="/img/star.svg" alt="">
                            </div>
                        </div>
                        <span class="estatistica">Estatísticas</span>
                    </div>
                    <% if(oficina[0].foto_perfil_ofc == null) { %>
                        <div class="foto_oficina">
                            <img src="/img/foto-padrao-oficina.svg" class="img-foto_oficina">
                        </div>
                    <% } else { %>
                        <div class="foto_oficina">
                            <img src="data:image/gif;base64,<%= oficina[0].foto_perfil_ofc %>" alt="foto de perfil da oficina" class="img-foto_oficina">
                        </div>
                    <% } %>
                </div>

                <nav>
                    <ul>
                        <li id="1mes">1 mês</li>
                        <li id="3meses">3 meses</li>
                        <li id="6meses">6 meses</li>
                        <li id="12meses" class="selected">12 meses</li>
                    </ul>
                </nav>

                <canvas class="line-chart"></canvas>

                <div class="legendBox">
                    <div class="visualizacoes" id="visualizacoes" onclick="toggleData(0)">
                        <div></div>
                        <span>Visualizações</span>
                    </div>
                    <div class="avaliacoes" id="avaliacoes" onclick="toggleData(1)">
                        <div></div>
                        <span>Avaliações</span>
                    </div>
                </div>

            </section>


            <section class="gerenciar">

                <h2 class="titulo">Gerenciar Oficina</h2>

                <div id="container-opcoes">
                    <div class="gerenciar-line1">
                        <a href="/seus-produtos" id="product" class="gerenciar-opcao">
                            <div>
                                <img src="/img/box_icon.svg" alt="ícone de caixa">
                                <span>Meus Produtos</span>
                            </div>
                        </a>
                        <a href="/seus-servicos" id="services" class="gerenciar-opcao">
                            <div>
                                <img src="/img/tools_icon.svg" alt="ícone de ferramentas">
                                <span>Meus Serviços</span>
                            </div>
                        </a>
                    </div>
    
                    <div class="gerenciar-line2">
                        <a href="/oficina/<%=oficina[0].nome_tela%>" id="view-oficina" class="gerenciar-opcao">
                            <div>
                                <img src="/img/car_icon.svg" alt="ícone de carro">
                                <span>Visualizar Oficina</span>
                            </div>
                        </a>
                        <a href="/planos"  id="plan" class="gerenciar-opcao">
                            <div>
                                <img src="/img/edit_icon.svg" alt="ícone de edição">
                                <span>Alterar Plano</span>
                            </div>
                        </a>
                    </div>
    
                    <a href="" id="edit-oficina" class="gerenciar-opcao">
                        <div>
                            <img src="/img/engine_icon.svg" alt="ícone de engrenagem">
                            <span>Editar Oficina</span>
                        </div>
                    </a>
                </div>

            </section>
            <% if(produtoCad == true) { %>
                <div class="pop-up">
                    <img src="img/img_pop-up.svg" alt="">
                    <h3>Produto Cadastrado!</h3>
    
                    <button class="primeira-opcao-btn"><a href="/produto/<%=produtoId%>>Ver Produto</a></button>
                    <button class="segunda-opcao-btn"><a href="#">Concluir</a></button>
                </div>
            <% } %>
            <% if(servicoCad == true) { %>
                <div class="pop-up">
                    <img src="img/img_pop-up.svg" alt="">
                    <h3>Servico Cadastrado!</h3>
    
                    <button class="primeira-opcao-btn"><a href="/servico/<%=produtoId%>">Ver Serviço</a></button>
                    <button class="segunda-opcao-btn"><a href="/dashboard/<%=oficina[0].nome_tela%>">Concluir</a></button>
                </div>
            <% } %>
        </main>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js"></script>

    <script>

        // tamanho da bolinha do gráfico
        var point_radius
        if (window.innerWidth > 480) {
            point_radius = 7
        } else {
            point_radius = 4
        }

        // criação do gráfico
        var ctx = document.getElementsByClassName("line-chart")

        var chartGraph = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
                datasets: [{
                    label: 'Visitas',
                    data: [0, 14, 20, 21, 12, 09, 15, 25, 26, 25, 24, 20],
                    borderWidth: 2,
                    borderColor: '#fff',
                    pointBorderColor: '#FF8500',
                    backgroundColor: '#FF8500',
                    pointRadius: point_radius,
                    borderRadius: 5,
                }, {
                    label: 'Avaliações',
                    data: [0, 06, 07, 03, 03, 04, 05, 07, 10, 04, 05, 04],
                    borderWidth: 2,
                    borderColor: '#fff',
                    pointBorderColor: '#000F92',
                    backgroundColor: '#000F92',
                    pointRadius: point_radius,
                    borderRadius: 5
                }]
            },
            options: {
                tension: 0.4,
                plugins: {
                    legend: {
                        display: false,
                        labels: {
                            color: '#fff',
                            usePointStyle: true,
                        }
                    }
                },
                scales: {
                    y: {
                        ticks: { 
                            color: 'white' 
                        },
                        grid: {
                            display: true,
                            color: "rgba(255, 255, 255, 0.1)",
                            lineWidth: 1
                        }
                    },
                    x: {
                        ticks: { 
                            color: 'white'
                        },
                        grid: {
                            display: true,
                            color: "rgba(255, 255, 255, 0.1)",
                            lineWidth: 1
                        }
                    }
                }
            }
        });

        function toggleData(value){
            const visibilityData = chartGraph.isDatasetVisible(value);
            if(visibilityData === true){
                chartGraph.hide(value);

                if(value == 0){
                    document.getElementById('visualizacoes').style.textDecoration = 'line-through'
                    document.getElementById('visualizacoes').style.opacity = '0.8'
                } else {
                    document.getElementById('avaliacoes').style.textDecoration = 'line-through'
                    document.getElementById('avaliacoes').style.opacity = '0.8'
                }
            }
            if(visibilityData === false){
                chartGraph.show(value);

                if(value == 0){
                    document.getElementById('visualizacoes').style.textDecoration = 'none'
                    document.getElementById('visualizacoes').style.opacity = '1'
                } else {
                    document.getElementById('avaliacoes').style.textDecoration = 'none'
                    document.getElementById('avaliacoes').style.opacity = '1'
                }
            }
        }

        $(document).ready(function(){
            $('#1mes').click(function(){
                $('#1mes').addClass('selected');
                $('#3meses').removeClass('selected');
                $('#6meses').removeClass('selected');
                $('#12meses').removeClass('selected');
            });
            $('#3meses').click(function(){
                $('#3meses').addClass('selected');
                $('#1mes').removeClass('selected');
                $('#6meses').removeClass('selected');
                $('#12meses').removeClass('selected');
            });
            $('#6meses').click(function(){
                $('#6meses').addClass('selected');
                $('#1meses').removeClass('selected');
                $('#3meses').removeClass('selected');
                $('#12meses').removeClass('selected');
            });
            $('#12meses').click(function(){
                $('#12meses').addClass('selected');
                $('#1meses').removeClass('selected');
                $('#3meses').removeClass('selected');
                $('#6meses').removeClass('selected');
            });
        })
    </script>
</body>

</html>