<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Buscar</title>

    <!-- LINKS CSS -->
    <!-- <link rel="stylesheet" href="css/styleavaliacao.css"> -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/styleHistorico.css">

    <!-- LINKS PARA O GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- FONTS -->
    <!-- GOTHIC-A1 -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <!-- SORA -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sora:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- LINKS JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script_menu.js"></script>
</head>

<body>
    <div id="modal"></div>

    <%- include('../partial/header.ejs') %>

    <main>
        <section>

            <h1 class="titulo"> <%= valor %> </h1>
            <span class="legenda">Resultado filtrado</span>

            <div id="seus_produtos">

                <% if(resultsOfc.length > 0) { %>
                    <% for(let i = 0; i < resultsOfc.length; i++) { %>
                        <div class="box_produto">
                            <div class="content">
                                <img class="produto" src="data:image/gif;base64,<%= resultsOfc[i].foto1 %>" alt="">
                                <div class="infos_produto">
                                    <span class="tipo_produto">Oficina</span>
                                    <h4 class="tinta"><%= resultsOfc[i].nome_oficina %></h4>
                                    <h3 class="desc_oficina"><%= resultsOfc[i].descricao_ofc %></h3>
                                    <div class="local_oficina">
                                        <img src="img/local_icon.svg" alt="">
                                        <span class="bairro_oficina">Engenho Novo</span>
                                    </div>
                                    <div id="notas">
                                        <div>
                                            <img src="img/star.svg" alt="" class="star-icon">
                                            <span class="nota"><%= String(resultsOfc[i].avg_media_geral).replace('.', ',') %></span>
                                            <spaan class="num_avaliacao">(<%= resultsOfc[i].num_avaliacoes %> avaliações)</spaan>
                                        </div>
                                        <img src="img/favorito_icon.svg" alt="" class="fav_icon">
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>

                <% if(resultsProd.length > 0) { %>
                    <% for(let i = 0; i < resultsProd.length; i++) { %>
                        <div class="box_produto">
                            <div class="content">
                                <img class="produto" src="data:image/gif;base64,<%= resultsProd[i].foto1 %>" alt="">
                                <div class="infos_produto">
                                    <span class="tipo_produto">Produto</span>
                                    <h4 class="tinta"><%= resultsProd[i].nome_produto %></h4>
                                    <h3 class="preco">R$<%= String(resultsProd[i].valor_produto).replace('.', ',') %></h3>
                                    <div id="notas">
                                        <div>
                                            <img src="img/star.svg" alt="" class="star-icon">
                                            <span class="nota"><%= String(resultsProd[i].media_avaliacao).replace('.', ',') %></span>
                                            <spaan class="num_avaliacao">(<%= resultsProd[i].num_avaliacoes %> avaliações)</span>
                                        </div>
                                        <img src="img/favorito_icon.svg" alt="" class="fav_icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>

                <% if(resultsServ.length > 0) { %>
                    <% for(let i = 0; i < resultsServ.length; i++) { %>
                        <div class="box_produto">
                            <div class="content">
                                <img class="produto" src="data:image/gif;base64,<%= resultsServ[i].foto1 %>" alt="">
                                <div class="infos_produto">
                                    <span class="tipo_produto">Serviço</span>
                                    <h4 class="tinta"><%= resultsServ[i].nome_produto %></h4>
                                    <h3 class="desc_oficina"><%= resultsServ[i].descricao_prod %></h3>
                                    <h3 class="preco">R$<%= String(resultsServ[i].valor_produto).replace('.', ',') %></h3>
                                    <div id="notas">
                                        <div>
                                            <img src="img/star.svg" alt="" class="star-icon">
                                            <span class="nota"><%= String(resultsServ[i].media_avaliacao).replace('.', ',') %></span>
                                            <spaan class="num_avaliacao">(<%= resultsServ[i].num_avaliacoes %> avaliações)</spaan>
                                        </div>
                                        <img src="img/favorito_icon.svg" alt="" class="fav_icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } %>

        </section>

    </main>

</body>

</html>